body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.unlearn {
  display: inline-block;
  margin-right: 10px;
}
	
.unlearn button {
  color: red;
}
	
li {
  list-style: none;
  padding-bottom: 15px;
}
